<div id="<%= dom_id messaging_service %>">
  <h1 class="title">
    <%= messaging_service.alias_name %>
  </h1>

  <p class="subtitle">
    <%= messaging_service.provider %>
  </p>

  <p>
    <strong>Webhook url:</strong>
    <%= messaging_service.webhook_url %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= messaging_service.client_id %>
  </p>

  <p>
    <strong>Client secret:</strong>
    <%= messaging_service.client_secret %>
  </p>
</div>
