<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <%= link_to "Messaging Services", messaging_services_path %>
    </li>
    <li>
      <%= link_to @messaging_service.alias_name, @messaging_service %>
    </li>
    <li class="is-active">
      <%= link_to "Edit", edit_messaging_service_path(@messaging_service) %>
    </li>
  </ul>
</nav>

<h1 class="title">Editing messaging service</h1>
<p class="subtitle">
  <%= button_to "Destroy this messaging service", @messaging_service, class: "button is-danger is-small", method: :delete %>
</p>

<%= render "form", messaging_service: @messaging_service %>
